div.panel-heading.pane_head{
  height:50px;
}

div.col-lg-5.col-md-12{
  margin-left:-102px;
}

h5.text-center.panel-title{
  margin-top:6px;
}

div.table-responsive{
  margin-top:53px;
  margin-left:78px;
  width:750px;
}

div.table-responsive{
  text-align:center;
}


#z2{
  padding: 10px;
  margin-right: 20px;
}

li.list-group-item.list-group-item-info{
  text-align:center;
}

li.list-group-item.cve{
  max-height:321px;
}
#x
{
  margin-top:   
}
img.img-thumbnail.img-responsive{
  height:190px;
  border-radius:50px;
  background-size:cover;
  width:217px;
  margin-left:33px;
}

div.col-lg-4.col-md-12.cst{
  margin-left:-80px;
}

div#abc.container.cst{
  margin-top:-2px;
}

div.container{
  margin-top:86px;
}

h2#c.text-center{
  margin-top:60px;
}

div.well{
  height:459px;
  width:300px;
  display:inline-block;
  margin-left:58px;
  margin-top:35px;
}

a.btn.btn-primary.active.btn-block.btn-lg{
  width:158px;
  margin-left:47px;
}

div.well.well-sm..cst{
  display:inline-block;
}

div.row..cst{
  margin-left:n;
}

div.row..cst{
  margin-left:10px;
  margin-right:10px;
}

div.col-md-4.col-sm-6.footer-navigation{
  margin-left:0px;
  margin-right:0px;
}

div.col-md-12..cst{
  width:z;
}

img#img1{
  max-height:54px;
  max-width:80px;
  margin-right:16px;
  display:inline-block;
  margin-top:-5px;
}

p.text-center{
  color:rgb(115,5,25);
  margin-top:1px;
}

h1.text-center{
  margin-top:50px;
  margin-bottom:36px;
  color:rgb(28,29,31);
}


nav.navbar.navbar-inverse.navbar-fixed-top{
  background-color:rgb(41,44,47);
  height:73px;
}



#z3{
  margin-right:20px;
  padding:10px;
}

i.glyphicon.glyphicon-star.cst{
  margin-left:3px;
}

p#p1{
  font-size:medium;
  margin-left:122px;
}

h1.text-left.cst{
  margin-left:119px;
}

button.btn.btn-success.btn-lg.cst{
  margin-left:10px;
}

div.radio.has-success.cst{
  font-size:26px;
}

input.r{
  height:29px;
}

input.r{
  width:17px;
}

div#radio{
  background-color:rgb(177,247,217);
  width:570px;
  margin-left:100px;
  margin-top:25px;
}

div.radio.cst{
  font-size:27px;
  margin-left:10px;
}

div.radio.cst{
  width:175px;
  display:inline-block;
}

input.form-control.input-lg.cst{
  margin-bottom:10px;
  margin-top: 10px;
}

button.btn.btn-primary.btn-block.btn-lg.cst{
  margin-top:10px;
}

